@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes:
		lemonade --default,
		forest;
}

.lucide {
	width: 1rem;
	height: 1rem;
}

.icon-lg {
	width: 2rem;
	height: 2rem;
}

.no-transitions,
.no-transitions *,
.no-transitions *::before,
.no-transitions *::after {
	transition-property: none !important;
}

.no-transitions .swap-rotate .swap-on,
.no-transitions .swap-rotate .swap-off {
	transition-property: all !important;
}
