@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes:
		lemonade --default,
		forest;
}

@layer base {
	.lucide {
		width: 1em;
		height: 1em;
	}

	.stat-figure .lucide {
		width: 1lh;
		height: 1lh;
	}
}

.no-transitions,
.no-transitions *,
.no-transitions *::before,
.no-transitions *::after {
	transition-property: none !important;
}

.no-transitions .swap-rotate .swap-on,
.no-transitions .swap-rotate .swap-off {
	transition-property: all !important;
}
