:root[data-theme="--theme"] {
	--sl-color-black: --color-base-100;
	--sl-color-white: --color-base-content;
	--sl-color-gray-1: --color-base-content;
	--sl-color-gray-2: --color-base-content;
	--sl-color-gray-3: color-mix(in srgb, --color-base-content 65%, transparent);
	--sl-color-gray-4: --color-base-300;
	--sl-color-gray-5: --color-base-300;
	--sl-color-gray-6: --color-base-200;
	--sl-color-gray-7: --color-base-300;
	--sl-color-accent-low: --color-primary;
	--sl-color-accent: --color-primary;
	--sl-color-accent-high: --color-primary;
	--sl-color-text-invert: --color-primary-content;

	--sl-color-bg-sidebar: var(--sl-color-gray-6);
	--sl-color-bg-nav: var(--sl-color-gray-7);
}
